MYSQL_PORT=3306
MYSQL_DATABASE=formulas
MYSQL_USER=formulas
MYSQL_PASSWORD=formulas
MYSQL_ROOT_PASSWORD=root
GOOGLE_APPLICATION_CREDENTIALS=./credentials/service-account.json
GOOGLE_DRIVE_FOLDER_ID=
POLL_INTERVAL_SECONDS=300
PDF_STAGING_DIR=staging/pdfs
